:root {
	--color-red: #b31919;
	--color-red-active: #ce1d1d;
	--color-gray: #2c2e30;
	--font-regular: -apple-system, ".SFNSText-Regular", BlinkMacSystemFont, "San Francisco", "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Lucida Grande", sans-serif;
	--font-special: "GlyddonRegular", Georgia, Times, "Times New Roman", serif;
	--spacing: 1rem;
}

a {
	color: var(--color-red);
	text-decoration: none;
}

a:hover {
	color: var(--color-red-active);
}

body {
	font-family: var(--font-regular);
	font-size: 14px;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-special);
	font-weight: normal;
}

html {
	height: 100%
}

img {
	max-width: 100%;
}

p {
	margin: 0;
}

svg {
	height: 1em;
	position: relative;
	top: 2px;
}

.container {
	box-sizing: border-box;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: var(--spacing);
	padding-left: var(--spacing);
}

.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

@media (min-width: 576px) {
	/* */
}

@media (min-width: 768px) {
	.container {
		max-width: 700px;
		padding-right: 0;
		padding-left: 0;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 920px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1130px;
	}
}
