:root {
	--box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	--color-red: #b31919;
	--color-red-active: #ce1d1d;
	--color-gray: #2c2e30;
	--font-regular:
		-apple-system, '.SFNSText-Regular', BlinkMacSystemFont, 'San Francisco', 'Roboto',
		'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		'Helvetica', 'Lucida Grande', sans-serif;
	--font-special: 'Jubilat', 'GlyddonRegular', Georgia, Times, 'Times New Roman', serif;
	--spacing: 20px;
	--spacing-less: 5px;
	--spacing-more: 40px;
	--negative-spacing: -20px;
	/* Theme colors */
	--color-background: #f2f2f3;
	--color-text: black;
	--color-text-muted: #696e72;
}

[data-theme='dark'] {
	--color-background: #262626;
	--color-text: white;
	--color-text-muted: #696e72;
}

a {
	color: var(--color-red);
	text-decoration: none;
}

a:hover {
	color: var(--color-red-active);
}

body {
	color: var(--color-text);
	font-family: var(--font-regular);
	font-size: 14px;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-special);
	font-weight: normal;
}

html {
	background: var(--color-background);
	height: 100%;
}

img {
	max-width: 100%;
}

p {
	margin: 0;
}

input[type='submit'] {
	background: var(--color-gray) url(/assets/bg-button-dark.png) center center repeat-x;
	color: #dedede;
	padding: 0 1em;
	box-shadow:
		rgba(255, 255, 255, 0.2) 0 1px 0 inset,
		rgba(0, 0, 0, 0.25) 0 1px 1px;
	text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
	border: 1px solid #0b0d0e;
	height: 22px;
	border-radius: 3px;
}

input[type='submit']:active {
	position: relative;
	top: 1px;
}

select {
	appearance: none;
	background: var(--color-gray) url(/assets/bg-select-dark.png) right;
	background-size: auto 100%;
	color: #dedede;
	padding: 0 16px 0 8px;
	box-shadow:
		rgba(255, 255, 255, 0.2) 0 1px 0 inset,
		rgba(0, 0, 0, 0.25) 0 1px 1px;
	text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
	border: 1px solid #0b0d0e;
	height: 22px;
	border-radius: 3px;
}

svg {
	height: 1em;
	position: relative;
	top: 2px;
}

.container {
	box-sizing: border-box;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: var(--spacing);
	padding-left: var(--spacing);
}

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

@media (min-width: 576px) {
	/* */
}

@media (min-width: 768px) {
	.container {
		max-width: 700px;
		padding-right: 0;
		padding-left: 0;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 920px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1130px;
	}
}
